.nav{
    display: flex;
    justify-content: space-between;
}
#logo{
    color:blueviolet;
   }
.main-container{    
    background-color: gray;
    margin: 20px;
    padding: 30px;
}

.content-body{
margin-top: 20px;
}
.search-box{
    width: 400px;
    margin: auto;
}
.search-output{
    margin-top: 30px;
    border: 1px solid burlywood;
    border-radius: 5px;
    padding: 10px;
}
#search-result{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap : 10px;
    justify-content: space-around;
}
.meal-container{
    padding : 40px;
    border: 1px solid white;
    border-radius: 5px;
}

.meal-image img {
    border: 0px solid white;
    border-radius: 10px 10px 0px 0px;
    width: 100%;    
    object-fit: cover;
  }
.meal-name{
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
}
.footer{
    text-align: center;
}
